body {
    font-size: 16px;
    font-family: Arial
}
#logo h1 {
    margin: 0px;
    padding-left: 190px;
    padding-top: 0px;
    font-size: 100px;
    color: white;
    outline-color: black;
    text-shadow: black 4px 2px 4px;
}
article h2 {
    margin: 0px;
    text-shadow: black 2px 2px 2px;
}
nav p, aside p {
    margin-top: 7px;
    font-size: 14px;
    padding-left: 5px;
}
aside h2, nav h2 {
    margin: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    font-variant: small-caps;
    font-size: 16px;
    text-shadow: black 2px 2px 2px;
}
footer {
    font-family: "courier new";
    font-weight: bold;
    font-variant: small-caps;
}
nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 6px 3px 6px;
    border-radius: 5px 5px 5px 5px;
    line-height: 21px;
}
nav a:hover {
    color: black;
    background: tomato;
}
p {
    font-family: "Trebuchet MS";
}
#menubar a {
    color: black;
    background: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid silver;
    margin-right: 1px;
}
#menubar a:hover {
    color: white;
    background: tomato;
}
